#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: auto;
  padding: 1rem;
  border-radius: 3rem;
  background: grey;
}
